@charset "UTF-8";

:root {
    --nkw-border-radius: 7px;
    --nkw-color-success: #28a745;
    --nkw-color-error: #dc3545;
    --nkw-color-warning: #ffc107;
    --nkw-color-info: #17a2b8;
    --nkw-color-light: #e8eaed;
    --nkw-color-link: #007bff;
    --nkw-color-muted: #6c757d;
    --nkw-color-note: #e66572;
    --nkw-color-add: #28a745;
    --nkw-color-update: #ffc107;
    --nkw-color-delete: #dc3545;
    --nkw-font-size-s: 12px;
    --nkw-font-size-m: 14px;
    --nkw-font-size-l: 16px;
    --nkw-font-size-xl: 18px;
    --nkw-font-size-xxl: 20px;
    --nkw-header-height: 50px;
    --nkw-h1-font-size: 2.0rem;
    --nkw-h2-font-size: 1.75rem;
    --nkw-h3-font-size: 1.5rem;
    --nkw-h4-font-size: 1.375rem;
    --nkw-h5-font-size: 1.25rem;
    --nkw-h6-font-size: 1.125rem;
    --nkw-icon-size-s: 16px;
    --nkw-icon-size-m: 24px;
    --nkw-icon-size-l: 32px;
    --nkw-line-height-s: 1.5;
    --nkw-line-height-m: 1.75;
    --nkw-line-height-l: 2.0;
    --nkw-p-font-size: 1.0rem;
    --nkw-sidemenu-font-size-list-title: 0.9rem;
    --nkw-sidemenu-font-size-list-item: 0.8rem;
    --nkw-sidemenu-height: 36px;
    --nkw-sidemenu-background-color-hover-item: #e8e8e8;
    --nkw-sidemenu-border-sub-list: 3px solid #6c757d;
    --nkw-layout-two-cols-width-sp-side: 90%;
    --nkw-layout-two-cols-width-side: 260px;
    --nkw-layout-two-cols-width-wide-side: 360px;
    --nkw-layout-two-cols-item-icon-size: 24px;
    --nkw-form-t1-background-color: #fff;
    --nkw-form-t1-border-color: #e8eaed;
    --nkw-form-t1-border-color-focus: #5f6368;
    --nkw-form-t1-color: #495057;
    --nkw-form-t1-font-size: 15px;
    --nkw-form-t1-font-size-label: 12px;
    --nkw-form-t1-height-icon: 22px;
    --nkw-form-t1-width-icon: 22px;
}


/**********************************************************************
 Reset
**********************************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup,
tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark,
audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
a {
    text-decoration: unset;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/**********************************************************************
 body
**********************************************************************/
.nkw.body {
    font-size: var(--nkw-font-size-s);
    line-height: var(--nkw-line-height-s);
    margin: 0;
    position: relative;
    width: 100%;
}
@media screen and (min-width: 768px) {
    .nkw.body {
        font-size: var(--nkw-font-size-m);
        line-height: var(--nkw-line-height-m);
    }
}
@media screen and (min-width: 1024px) {
    .nkw.body {
        font-size: var(--nkw-font-size-l);
        line-height: var(--nkw-line-height-l);
    }
}


/**********************************************************************
 h1 - h6
**********************************************************************/
.nkw.h1 {
    font-size: var(--nkw-h1-font-size);
    margin: 50px 0;
}
.nkw.h2 {
    font-size: var(--nkw-h2-font-size);
    margin: 40px 0 20px;
}
.nkw.h3 {
    font-size: var(--nkw-h3-font-size);
    margin: 30px 0 20px;
}
.nkw.h4 {
    font-size: var(--nkw-h4-font-size);
}
.nkw.h5 {
    font-size: var(--nkw-h5-font-size);
}
.nkw.h6 {
    font-size: var(--nkw-h6-font-size);
}
.nkw.h1, .nkw.h2, .nkw.h3, .nkw.h4, .nkw.h5, .nkw.h6 {
    color: inherit;
    font-weight: bold;
    line-height: var(--nkw-line-height-s);
}
@media screen and (min-width: 768px) {
    .nkw.h1, .nkw.h2, .nkw.h3, .nkw.h4, .nkw.h5, .nkw.h6 {
        line-height: var(--nkw-line-height-m);
    }
}
@media screen and (min-width: 1024px) {
    .nkw.h1, .nkw.h2, .nkw.h3, .nkw.h4, .nkw.h5, .nkw.h6 {
        line-height: var(--nkw-line-height-l);
    }
}


/**********************************************************************
 header
**********************************************************************/
.nkw.header {
    -webkit-align-items: center;
    align-items: center;
    box-sizing: border-box;
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    height: var(--nkw-header-height);
}


/**********************************************************************
 icon
**********************************************************************/
.nkw.icon {
    cursor: pointer;
    fill: inherit;
    height: var(--nkw-icon-size-m);
    width: var(--nkw-icon-size-m);
}
.nkw.icon.small {
    height: var(--nkw-icon-size-s);
    width: var(--nkw-icon-size-s);
}
.nkw.icon.clickable {
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}
.nkw.icon.clickable:hover {
    opacity: 0.7;
}
@media screen and (min-width: 768px) {
    .nkw.icon {
        height: var(--nkw-icon-size-l);
        width: var(--nkw-icon-size-l);
    }
    .nkw.icon.small {
        height: var(--nkw-icon-size-m);
        width: var(--nkw-icon-size-m);
    }
}


/**********************************************************************
 .nkw.layout-two-cols
**********************************************************************/
.nkw.layout-two-cols {
    display: -webkit-flex;
    display: flex;
    position: relative;
    width: 100%;
}
.nkw.layout-two-cols > .nkw.layout-two-cols-side {
    box-sizing: border-box;
    flex: 0 0 0;
    max-height: calc(100vh - 50px);
    overflow-y: scroll;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 1024px) {
    .nkw.layout-two-cols > .nkw.layout-two-cols-side {
        flex-basis: var(--nkw-layout-two-cols-width-side);
    }
    .nkw.layout-two-cols.wide-side > .nkw.layout-two-cols-side {
        flex-basis: var(--nkw-layout-two-cols-width-wide-side);
    }
}
.nkw.layout-two-cols > .nkw.layout-two-cols-content {
    flex: 1 0;
    position: relative;
    transition: all 0.3s;
    z-index: 2;
}


/**********************************************************************
 .nkw.section
**********************************************************************/
.nkw.section {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: 100%;
}
.nkw.section.center {
    -webkit-align-items: center;
    align-items: center;
}
.nkw.section.right {
    -webkit-align-items: flex-end;
    align-items: flex-end;
}


/**********************************************************************
 .nkw.hover-opacity
**********************************************************************/
.nkw.hover-opacity {
    transition: opacity 0.3s ease-in-out;
}
.nkw.hover-opacity:hover {
    opacity: 0.3;
}


/**********************************************************************
 .nkw,row
 .nkw.col-*
**********************************************************************/
.nkw.row {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.nkw.col-1 { width: 8.33%; }
.nkw.col-2 { width: 16.66%; }
.nkw.col-3 { width: 25%; }
.nkw.col-4 { width: 33.33%; }
.nkw.col-5 { width: 41.66%; }
.nkw.col-6 { width: 50%; }
.nkw.col-7 { width: 58.33%; }
.nkw.col-8 { width: 66.66%; }
.nkw.col-9 { width: 75%; }
.nkw.col-10 { width: 83.33%; }
.nkw.col-11 { width: 91.66%; }
.nkw.col-12 { width: 100%; }
.nkw.col-1-s { width: 8.33%; }
.nkw.col-2-s { width: 16.66%; }
.nkw.col-3-s { width: 25%; }
.nkw.col-4-s { width: 33.33%; }
.nkw.col-5-s { width: 41.66%; }
.nkw.col-6-s { width: 50%; }
.nkw.col-7-s { width: 58.33%; }
.nkw.col-8-s { width: 66.66%; }
.nkw.col-9-s { width: 75%; }
.nkw.col-10-s { width: 83.33%; }
.nkw.col-11-s { width: 91.66%; }
.nkw.col-12-s { width: 100%; }
@media screen and (min-width: 768px) {
    .nkw.col-1-m { width: 8.33%; }
    .nkw.col-2-m { width: 16.66%; }
    .nkw.col-3-m { width: 25%; }
    .nkw.col-4-m { width: 33.33%; }
    .nkw.col-5-m { width: 41.66%; }
    .nkw.col-6-m { width: 50%; }
    .nkw.col-7-m { width: 58.33%; }
    .nkw.col-8-m { width: 66.66%; }
    .nkw.col-9-m { width: 75%; }
    .nkw.col-10-m { width: 83.33%; }
    .nkw.col-11-m { width: 91.66%; }
    .nkw.col-12-m { width: 100%; }
}
@media screen and (min-width: 1024px) {
    .nkw.col-1-l { width: 8.33%; }
    .nkw.col-2-l { width: 16.66%; }
    .nkw.col-3-l { width: 25%; }
    .nkw.col-4-l { width: 33.33%; }
    .nkw.col-5-l { width: 41.66%; }
    .nkw.col-6-l { width: 50%; }
    .nkw.col-7-l { width: 58.33%; }
    .nkw.col-8-l { width: 66.66%; }
    .nkw.col-9-l { width: 75%; }
    .nkw.col-10-l { width: 83.33%; }
    .nkw.col-11-l { width: 91.66%; }
    .nkw.col-12-l { width: 100%; }
}


/**********************************************************************
 margin
**********************************************************************/
.nkw.m-t-0 { margin-top: 0; }
.nkw.m-b-0 { margin-bottom: 0; }
.nkw.m-0 { margin: 0; }
.nkw.m-l-auto { margin-left: auto; }
@media screen and (max-width: 767px) {
    .nkw.m-l-auto-s { margin-left: auto; }
}
@media screen and (min-width: 768px) {
    .nkw.m-l-auto-m { margin-left: auto; }
}
@media screen and (min-width: 1024px) {
    .nkw.m-l-auto-l { margin-left: auto; }
}
