@charset "UTF-8";

:root {
    --nkw-color-success: #28a745;
    --nkw-color-error: #dc3545;
    --nkw-color-warning: #ffc107;
    --nkw-color-info: #17a2b8;
    --nkw-color-light: #e8eaed;
    --nkw-color-link: #007bff;
    --nkw-color-muted: #6c757d;
    --nkw-color-note: #e66572;
    --nkw-color-add: #28a745;
    --nkw-color-update: #ffc107;
    --nkw-color-delete: #dc3545;
    --nkw-font-size-s: 12px;
    --nkw-font-size-m: 14px;
    --nkw-font-size-l: 16px;
    --nkw-font-size-xl: 18px;
    --nkw-font-size-xxl: 20px;
    --nkw-h1-font-size: 2.0rem;
    --nkw-h2-font-size: 1.75rem;
    --nkw-h3-font-size: 1.5rem;
    --nkw-h4-font-size: 1.375rem;
    --nkw-h5-font-size: 1.25rem;
    --nkw-h6-font-size: 1.125rem;
}

.nkw-html {
    font-size: var(--nkw-font-size-s);
}
@media screen and (min-width: 768px) {
    .nkw-html {
        font-size: var(--nkw-font-size-m);
    }
}
@media screen and (min-width: 1024px) {
    .nkw-html {
        font-size: var(--nkw-font-size-l);
    }
}
